.Container {
  display: flex;
  flex-direction: column;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 360px;
  left: 261px;
  top: -1px;
  border-radius: 0px;
  border: 2px solid;
  background: #E5E5E5;
}
.CardInfo {
  display: flex;
  flex-direction: column;
}
#pName {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;


}
#pNumber {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #8B8B8B;



}
.ContactCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ContactHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 315px;
  left: 15px;
  top: 775px;
  border-radius: 0px;
  background: #FFFFFF;
}
.ContactTitle {
  width: 81px;
  height: 23px;
  left: 15px;
  top: 19px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: flex-end;

  color: #000000;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
